---
import Layout from '~/layouts/Layout.astro'
import '~/styles/globals.css'
---

<Layout title='Asteroid | Home'>
  <main class='mx-auto max-w-screen-xl flex-1 py-6'>
    <h1 class='text-4xl font-bold text-blue-300'>Welcome to Asteroid</h1>
    <p class='text-xl text-blue-300'>Asteroid is a platform for creating and sharing knowledge.</p>
    <figure class='mt-6 rounded-lg overflow-hidden'>
      <img src='/hero.jpg' alt='Asteroid' class='w-full h-72 object-cover' />
    </figure>
  </main>
</Layout>
