<style>
  footer {
    @apply mt-12 bg-blue-800 py-8 text-center text-zinc-300;
  }

  footer nav {
    @apply mt-2.5 flex justify-center space-x-2;
  }

  footer nav a {
    @apply text-zinc-300 hover:text-blue-300 hover:underline;
  }
</style>

<footer>
  <p>Copyleft &copy; 2024 Asteroid</p>
  <nav>
    <a href='/private-policy'>Private Policy</a>
    <a href='/terms-of-service'>Terms of Service</a>
    <a href='/cookie-policy'>Cookie Policy</a>
  </nav>
</footer>
